{%- extends "!layout.html" %}

{%- block content %}
  <div id="pst-scroll-pixel-helper"></div>

  {%- if theme_back_to_top_button %}
  <button type="button" class="btn rounded-pill" id="pst-back-to-top">
    <i class="fa-solid fa-arrow-up"></i>
    {{- _("Back to top") -}}
  </button>
  {%- endif %}

  {%- block search_dialog %}
  {%- if not theme_disable_search | tobool %}
  <dialog id="pst-search-dialog">
    {% include "../components/search-field.html" %}
  </dialog>
  {%- endif %}
  {%- endblock search_dialog %}

  {% include "sections/announcement.html" %}

  <div class="bd-container">
    <div class="bd-container__inner bd-page-width sema-layout-shell">
      <dialog id="pst-primary-sidebar-modal"></dialog>
      <div id="pst-primary-sidebar" class="bd-sidebar-primary bd-sidebar{% if not sidebars %} hide-on-wide{% endif %}">
        {% include "sections/sidebar-primary.html" %}
      </div>
      <div class="sema-main-shell">
        {% block docs_navbar %}
          <header id="pst-header" class="bd-header navbar navbar-expand-lg bd-navbar d-print-none">
            {%- include "sections/header.html" %}
          </header>
        {% endblock docs_navbar %}

        <main id="main-content" class="bd-main" role="main">
          {% block docs_main %}
            <div class="bd-content">
              <div class="bd-article-container">
                {% block docs_body %}
                  {% include "components/searchbox.html" %}
                  <article class="bd-article">
                    {% block body %}{% endblock %}
                  </article>
                {% endblock docs_body %}
                {% if theme_article_footer_items %}
                  <footer class="bd-footer-article">
                    {% include "sections/footer-article.html" %}
                  </footer>
                {% endif %}
                {% if theme_show_prev_next %}
                  <footer class="prev-next-footer d-print-none">
                    {% include "components/prev-next.html" %}
                  </footer>
                {% endif %}
              </div>
              {% block docs_toc %}
                {% if not remove_sidebar_secondary %}
                  <dialog id="pst-secondary-sidebar-modal"></dialog>
                  <div id="pst-secondary-sidebar" class="bd-sidebar-secondary bd-toc">{% include "sections/sidebar-secondary.html" %}</div>
                {% endif %}
              {% endblock docs_toc %}
            </div>
            <footer class="bd-footer-content">
              {% include "sections/footer-content.html" %}
            </footer>
          {% endblock docs_main %}
        </main>
      </div>
    </div>
  </div>
  {%- block scripts_end %}{{ _webpack.body_post() }}{%- endblock scripts_end %}
{%- endblock content %}
